<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="PageObjects.Listeners"></listener> 
</listeners>
  <test thread-count="5" name="Test">
    <classes>
 
      <class name="Test.ValidLoginTest"/>
      <class name="Test.HomeTest"/>
      <class name="Test.AddNewCustomer"/>
      <class name="Test.QuickItems"/>
      <class name="Test.AddItems_From_Searchbar"/>
      <class name="Test.PaymentTest"/>
      <class name="Test.PriceTypeChangeTest"/>
      <class name="Test.WholeSalePriceChangeTest"/>
      <class name="Test.SpecialPriceTypeTest"/>
    </classes>
  </test> 
</suite> 
